<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:usesCleartextTraffic="true">
        <receiver
            android:name="com.poyka.ripdpi.e2e.TestNetworkProbeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.poyka.ripdpi.debug.PROBE_TCP" />
                <action android:name="com.poyka.ripdpi.debug.PROBE_DNS" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
