<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application>
        <provider
            android:name=".updates.UpdateApkFileProvider"
            android:authorities="${applicationId}.updates.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:ignore="Instantiatable">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/update_apk_paths" />
        </provider>
    </application>
</manifest>
