<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application android:usesCleartextTraffic="true">
        <receiver
            android:name=".debug.AppStartupReadinessDebugReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.DUMP"
            android:process=":remote_acceptance_debug">
            <intent-filter>
                <action android:name="com.poyka.ripdpi.debug.AWAIT_APP_STARTUP_READY" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".debug.DebugNetworkProbeReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="com.poyka.ripdpi.DEBUG_PROBE" />
                <action android:name="com.poyka.ripdpi.debug.PROBE_TCP" />
                <action android:name="com.poyka.ripdpi.debug.PROBE_DNS" />
            </intent-filter>
        </receiver>

        <activity-alias
            android:name=".activities.DebugAutomationActivity"
            android:exported="true"
            android:permission="android.permission.DUMP"
            android:targetActivity=".activities.MainActivity">
            <intent-filter>
                <action android:name="com.poyka.ripdpi.automation.LAUNCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="ripdpi-debug"
                    android:host="automation"
                    android:path="/launch" />
            </intent-filter>
        </activity-alias>
    </application>

</manifest>
